@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #d1d5db;
}

*{
    font-family: 'Lato', sans-serif;
}
.myFont{
    font-family: 'Lato', sans-serif;
}