/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-size: cover;
    background-image: url("/images/background.png");
}

div{
    font-family: 'Calibri', sans-serif;
}
.myFont{
    font-family: 'Calibri', sans-serif;
}

/* Number Input Arrows Hider */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}