/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-size: cover;
    background-image: url("/images/background.png");
}

*{
    font-family: 'Lato', sans-serif;
}
.myFont{
    font-family: 'Lato', sans-serif;
}

/* Number Input Arrows Hider */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}